apache-airflow==2.6.3
meltano
dbt-core
dbt-bigquery
pip==23.2.1
setuptools==68.0.0
wheel==0.41.0
PyYAML>=6.0
Cython==3.0.11 --only-binary :all:
pendulum>=3.0.0
google-cloud-bigquery
apache-airflow-providers-papermill
sqlalchemy==1.4.49
